<main>
   <div>
    <app-header></app-header>
   </div>
  <div class="page">
    <app-aside [mode]="'admin'"></app-aside>
    <div class="container-page">
            <app-subheader [title]="'Presupuestos'" [typeModal]="'presupuesto'"></app-subheader>
            <div class="content">
              <div class="form-group ">
                <input class="ng_input input_search ng-input-mobile" [formControl]="searchControl" type="text" placeholder="Busca un presupuesto..." >
                <div class="mt-3 mb-5 pointer" (click)="router.navigateByUrl('admin/archivados')">
                  <img src="../../../../assets/icons/archive.svg" width="20" alt="">
                  ver archivados
                </div>
              </div>
            <div class="mat-container">
              <mat-card class="m-2 example-card" *ngFor="let item of listOfPresupuestos">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"><img src="../../../../assets/icons/user.svg" alt=""></div>
                  <mat-card-title>{{item.name}} </mat-card-title>
                  <mat-card-subtitle>{{item.date | date}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                   ASUNTO: <br>
                   {{item.Asunto}}<br>
                   TOTAL: {{item.total | currency}}
                  </p>
                  
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button (click)="viewDetail(item)">Detalle</button>
                  <button mat-button (click)="edit(item)">Editar</button>
                  <button mat-button (click)="archive(item)">Archivar</button>
                </mat-card-actions>
              </mat-card>
            </div>
            
              <div *ngIf="listOfPresupuestos.length<1">
                <h2>Lo sentimos, no encontramos resultados :(</h2>
              </div>
            </div>
           
    </div>
  </div>

</main>