<main>
    <div>
     <app-header></app-header>
    </div>
   <div class="page">
     <app-aside></app-aside>
     <div class="container-page">
             <app-subheader [title]="'Estadisticas'"></app-subheader>
            <div class="content">
              <mat-card class="example-card">
                
              
                <mat-card-content>
                  <h1 class="h1-dashboard">
                   10
                  </h1>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>PRESUPUESTOS</button>
                </mat-card-actions>
              </mat-card>
              <mat-card class="example-card">
                
              
                <mat-card-content>
                  <h1 class="h1-dashboard">
                   10
                  </h1>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>CLIENTES</button>
                </mat-card-actions>
              </mat-card>
              <mat-card class="example-card">
                
              
                <mat-card-content>
                  <h1 class="h1-dashboard">
                   $10.00  
                  </h1>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Ingresos Totales</button>
                </mat-card-actions>
              </mat-card>
            </div>
     </div>
   </div>
 
 </main>