<main>
    <div>
     <app-header></app-header>
    </div>
   <div class="page">
     <app-aside></app-aside>
     <div class="container-page">
             <app-subheader [title]="'Archivados'" [typeModal]="'Archivados'"></app-subheader>
             <div class="content">
               <div class="form-group">
                 <input class="ng_input input_search ng-input-mobile" [formControl]="searchControl" type="text" placeholder="Busca en el archivado..." >
                
                </div>
             <div class="mat-container">
               <mat-card class="m-2 example-card" *ngFor="let item of listOfArchived">
                 <mat-card-header>
                   <div mat-card-avatar class="example-header-image"><img src="../../../../assets/icons/user.svg" alt=""></div>
                   <mat-card-title>{{item.name}} </mat-card-title>
                   <mat-card-subtitle>{{item.date | date}}</mat-card-subtitle>
                 </mat-card-header>
                 <mat-card-content>
                   <p>
                    ASUNTO: <br>
                    {{item.Asunto}}<br>
                    TOTAL: {{item.total | currency}}
                   </p>
                   
                 </mat-card-content>
                 <button mat-button (click)="desArchive(item)">Desarchivar</button>
               </mat-card>
             </div>
             
              <!--
                 <div *ngIf="listOfPresupuestos.length<1">
                 <h2>Lo sentimos, no encontramos resultados :(</h2>
               </div>
              -->
             </div>
            
     </div>
   </div>
 
 </main>
