<main>
  <div>
    <app-header></app-header>
  </div>
  <div class="page">
    <app-aside [mode]="'ingeniero'"></app-aside>
    <div class="container-page">
      <app-subheader [title]="'Bienvenido!'" ></app-subheader>
      <div class="content">
        <h1>Lista de Presupuestos Pendientes</h1>
        <div *ngIf="presupuestosPendientes.length<1">
          <h3>No tienes presupuestos pendientes por ahora!</h3>
        <p>Vuelve más tarde...</p>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let item of presupuestosPendientes">
            <div
            class="card"
            style="width: 18rem"
          >
            <div class="card-body">
              <mat-card-title class="m-0 d-flex align-items-center mb-3">{{
                item.full_name
              }}</mat-card-title>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Tipo de Trabajo: {{ item.type_job }}
              </li>
              <li class="list-group-item">Unidades: {{ item.how_many_units }}</li>
              <li class="list-group-item">
                Medidas del Terreno: {{ item.land_measures }}
              </li>
              <li class="list-group-item">
                Presupuesto ($MXN): {{ item.budget }}
              </li>
            </ul>
            <div class="card-body">
              <p class="card-text">" {{ item.details }} ".</p>
            </div>
            <div class="btn btn-primary" (click)="OpenNewPresupuesto(item)">Crear Presupuesto</div>
          </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</main>
